A notebook for developing the function down_select_events

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from keller_zlatic_vnc.data_processing import down_select_events

/Users/bishopw/Documents/Janelia_Research/Projects/janelia_core/janelia_core/fileio/exp_reader.py:21: UserWarning: Unable to locate pyklb module.  Will not be able to read in .klb files.
  warnings.warn('Unable to locate pyklb module.  Will not be able to read in .klb files.')

## Parameters go here

In [6]:
tbl_1 = pd.DataFrame({'subject_id': ['s_0', 's_1', 's_1', 's_2', 's_2', 's_2'], 
                      'start': [100, 120, 133, 141, 151, 161], 
                      'end': [101, 125, 137, 143, 155, 167]}, 
                       index=[0, 4, 6, 8, 9, 10])

tbl_2 = pd.DataFrame({'subject_id': ['s_1', 's_2', 's_2', 's_0'], 
                      'start': [120, 141, 161, 100], 
                      'end': [125, 143, 167, 102]})

## Run function

In [7]:
ds_tbl = down_select_events(tbl_1=tbl_1, tbl_2=tbl_2)

Removing event from: 100-101 for subject s_0
Removing event from: 133-137 for subject s_1
Removing event from: 151-155 for subject s_2

In [8]:
ds_tbl

   subject_id  start  end
4         s_1    120  125
8         s_2    141  143
10        s_2    161  167