For developing the function read_raw_annotations

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path

from keller_zlatic_vnc.data_processing import read_full_annotations

## Parameters go here

In [3]:
annot_folder = r'A:\projects\keller_vnc\data\full_annotations\behavior_csv_cl_A4'
csv_file = r'17-08-23L1-behavior-cl.csv'

## Read the annotations

In [4]:
annots = read_full_annotations(Path(annot_folder) / csv_file)

In [5]:
annots

    Start   End  Beh
0      43    67  NaN
1      76    93    P
2      85    91    H
3     101   110    P
4     108   112    H
..    ...   ...  ...
66   2060  2075  NaN
67   2071  2079    P
68   2079  2084   TR
69   2086  2107    F
70   2109  2141    F

[71 rows x 3 columns]